In [1]:
import pandas as pd
ratings_data_file = 'Ratings.csv'  
data_file_path = pd.read_csv("C:\\Users\\barit\\OneDrive\\Documents\\GitHub\\BookRecommendationSystem\\BookDataSet\\Ratings.csv")
data_file_path.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6